body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #01071A;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container {
    background: #F6F8FD;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-login {
    display: inline-block;
    width: 100%;
    padding: 0.75rem;
    background: linear-gradient(45deg, #1D73BE, #132143);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.btn-login:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
}

p {
    margin-top: 1rem;
}

a,h1 {
    color: #1D73BE;
    text-decoration: none;
}
